.create {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.create {
    width: 100%;
    margin: 1rem auto;
}

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

table {
    width: 100%;
}